*{box-sizing: border-box;}
h1{
    background-color: aqua;
    text-align: center;
    padding: 1em;}
    .squared{
        height: 200px;
        width: 200px;
        background-color: crimson;
        transition: background-color 5s, border-radius 1s;
    }
    .squared:hover{
        border-radius: 50%;
        background-color: chartreuse;
    }
    /* Simple animation */
    .animation{
        width: 80%;
        margin: auto;
        border: ridge 1.5em teal;
        position: relative;
        overflow: hidden;
    }
    .bg{width: 100%; display: block;}
    .bus{
        width: 20%;
        position: absolute;
        bottom: -8%;
        right: 0%;
        display: block;
        animation-name: slidebus;
        animation-duration: 5s;
        animation-delay: 3s;
        animation-iteration-count: 3;
        animation-fill-mode: forwards;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    /* slide animation */
    @keyframes slidebus{
        from{transform: translateX(0);}
        to{transform: translateX(-500%);}
    }                               
    .cloud1{
        position: absolute;
        top: 5%;
        left: -10%;
        animation: slidecloud 10s infinite;
    }
    @keyframes slidecloud{
        0%{transform: translate(0,0); opacity: 0.5;}
        20%{transform: translate(30%,12%); width: 20%;}
        40%{transform: translate(110%,-2%);}
        60%{width: 38%; opacity: 0.9;}
        80%{transform: translate(260%,3%);}
        100%{transform: translate(500%,-5%); width: 35%; opacity: 0.3;}

    }
    .cloud2{
        position: absolute;
        width: 20%;
        top: -5%;
        left: -15%;
        animation: slidecloud 16s infinite;
    }
    .cloud3{
        position: absolute;
        width: 38%;
        top: -1%;
        left: -20%;
        animation: slidecloud 21s infinite;
    }
    /* Rotation! */
    .gear1{
        top: 20%;
        left: 0%;
        animation: rotategear 5s 2;
    }
    .animation{
        height: 500px;
    }
    @keyframes rotategear{
        0%{transform: rotate(0deg);}
        50%{transform: rotate(360deg);}
        100%{transform: rotate(-90deg);}
    }
    .gear2{
        position: absolute;
        top: 50%;
        right: 30%;
        animation: zoom 6s alternate 2 forwards;
    }
    @keyframes zoom{
        0%{transform: scale(0);}
        30%{transform: scale(1.2)}
        60%{transform: scale(0.1);}
        100%{transform: scale(2);}
    }